page-olvide-contrasena {
.texto-margen{
  color: map-get($colors, 'light');
  padding-left: 25px !important;
  font-size: 16px;

}
ion-content{
  background-color: rgb(56, 65 ,79) !important;
}
ion-item{
  background-color: transparent !important;
  color: #f4f4f4 !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
}
}
