page-nueva-contrasena {

  ion-content{
    background-color: rgb(56, 65 ,79) !important;
  }
  ion-item{
    background-color: transparent !important;
    color: #f4f4f4 !important;
    padding-left: 45px !important;
    padding-right: 45px !important;
  }

}
