totalizador {
  .numero1{
    font-size:12vw !important;
    color:rgb(82, 177, 186) !important;
  }
  .numero2{
    font-size:12vw !important;
    color:rgb(227, 114, 97) !important;
  }
  .numero3{
    font-size:12vw !important;
    color:rgb(104, 155, 204) !important;
  }
  .numero4{
    font-size:12vw !important;
    color:rgb(133, 121, 166) !important;
  }

  .texto{
    font-size:4vw !important;
    color:gray !important;
  }


}
