line-chart-entrega-y-produccion {
  ion-card{
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.3) !important;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3) !important;
    background-color: transparent !important,
  }
}
